.header{
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 100px;
}
.header h1{
    margin-left: 20px;
    color: tomato;
    font-size: 40px;
}
.icon{
    font-size: 40px;
}